.add_task_form {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-top: 25px;
}

.form_task_title, .form_task_title:focus {
  margin-bottom: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.form_task_description, .form_task_description:focus {
  border-radius: 5px;
  resize: vertical;
  min-height: 100px;
  padding: 10px 0px 0px 10px;
  font-size: 15px;  
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
  margin-bottom: 15px
}

.input_files {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.label_file {
  background: rebeccapurple;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  gap: 5px;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;  
}

.label_file:hover {
  cursor: pointer;
  opacity: 0.8;
}

.datetime_container {
  margin-top: 20px;
}

label {
  margin-right: 10px;
}

.form_task_submit {
  all: unset;
  all: unset;
  display: flex;
  align-items: center;
  height: 30px;
  background: #d1fadf;
  border-radius: 8px;
  color: #12b76a;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.form_task_submit:hover {
  opacity: 0.8;
  cursor: pointer;
  background: #27c25b;
  color: white;
}

.text_file {
  font-size: 14px;
}


.unselect_subtask {
  all: unset;
  display: flex;
  align-items: center;
}

.sub_task_title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selected {
  display: flex;
  align-items: center;
}