.delete_wrapper {
  display: flex;
  flex-direction: column;
}

.delete_modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 20px;
}

.delete_modal_body {
  margin-bottom: 20px;
  font-size: 20px;
}

.delete_modal_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.close {
  all: unset;
  font-size: 20px;
  display: flex;
  padding: 0px 10px 0px 10px;
  align-items: center;
  height: 35px;
  border-radius: 6px;
  background: #6c757d;
  color: white;
  cursor: pointer;
}

.close:hover {
  opacity: 0.7;
}

.delete {
  all: unset;
  font-size: 20px;
  display: flex;
  padding: 0px 10px 0px 10px;
  align-items: center;
  height: 35px;
  border-radius: 6px;
  background: #ffebf1;
  color: #fc0d54;
  cursor: pointer;
}

.delete:hover {
  color: white;
  background: #fc0d54;
}

.close_delete_modal {
  all: unset;
  display: flex;
  align-items: center;
}

.close_delete_modal:hover {
  opacity: 0.5;
}

.complete {
  all: unset;
  font-size: 20px;
  display: flex;
  padding: 0px 10px 0px 10px;
  align-items: center;
  height: 35px;
  border-radius: 6px;
  background: #d1fadf;
  color: #12b76a;
  cursor: pointer;
}

.complete:hover {
  background: #27c25b;
  color: white;
}