.container_app {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
}

.search_task {
    width: 300px;
    margin-left: 10px;
}

.input_search {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
}



button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #E5FFEE;
    color: #27C25B;
    padding: 0px 10px 0px 10px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}



.TO_DO {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.Task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 320px;
  background: #fcfcfd;
  box-shadow: 0px 0.5px 2px rgba(16, 24, 40, 0.3);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.task_info {
  display: flex;
  flex-direction: column;
}

.title_task {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #1d2939;
  margin-bottom: 6px;
}

.created_date {
  font-size: 14px;
  color: #98a2b3;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.description {
  font-weight: 500;
  font-size: 15px;
  color: #98A2B3;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.selected_files {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.file {
    display: flex;
}

.file_name {
    color: #98A2B3;
}

.comments_container {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #98A2B3;
}

.sub_task {
    color: #98A2B3;
}

.subtasks {
    margin-bottom: 5px;
}